<!DOCTYPE html>
<html>
    <head>
        <title>
            password
        </title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body >
        <center>
            <div id="us">
                <div style="float: left;">
                    <button onclick="window.location.href='/login'">logout</button>

                </div>
                <i class="fa-solid fa-user" style="color:#ffffff;">&nbsp;</i><b>{{user}}<b>
                            </div>
        {% for i in words %}
        <div id="passdiv">
        <form action="/update" method="post">
        <input type="text" value="{{i['website']}}" name="wb" readonly><br/>
        <input type="text" value="{{i['url']}}" readonly name="url"><br/>
        
        <input type="text" value="{{i['password']}}" readonly name="pas"><br/>

        <input type="text" value="{{i['discription']}}" readonly name="dis"><br/>
        <input class="but" type="submit" value="update"/>
</form>
        </div>
        {% endfor %}

        </center>
        <script>
        var msg="{{ msg }}";
        alert(msg)
        

        </script>
    </body>
</html>